


header{
  display:block;
  margin: 0px;
  padding: 10px;
  background-color: green
}


nav{
  font-size: 45px;
  list-style-type: none;
  text-align: center;
}

header h2 {
  font-size:60px;
  text-align: Center;
  color: black;
  margin-right: 400px;
  margin-left: 400px;
  padding-right: 100px;
  max-width: 900px;
}

h6{
  color: green;
  font-size: 50px;
  text-align: center;
}

.dodgeball{
text-align: center;
}

h5{
  text-align: center;
  list-style-type: none;
  font-size: 30px;
}

h4{
  color: black;
  font-size: 40px;
  text-align: center;
}

h3{
  color: green;
  font-size: 50px;
  margin-right:1000px;
  margin-left: 40px;
  min-width: 100px;
  max-width: 900px;
}

h2{
  color: green;
  font-size: 50px;
  margin-right:100px;
  margin-left: 40px;
  min-width: 100px;
  max-width: 900px;
}

h1{
  color: green;
  font-size: 55px;
  text-align: left;
  margin-right:40px;
  margin-left: 800px;
}

ul{
  line-height: 30px;
  font-size: 20px;
  margin-right:40px;
  margin-left: 800px;  
}

p {
  text-align: left;
  font-size: 30px;
  min-width: 100px;
  max-width: 900px;
  margin-right:10px;
  margin-left: 40px;
}

img{
  float: right;
  height: 500px;
}

a:link{
color: yellow;
}

a:visited{
color:yellow;
}

a:hover{
color: black;
}